<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">It's like Tinder for diversity.</h2>
                <hr class="light">
                <p class="text-faded">For over 45 years, KPCB has backed hundreds of entrepreneurs benefiting from white male privilege. We decided it was time to fund diversity. Techiversity is a two-sided platform matching tech companies in need of diversity with underrepresented people who can stand in as employees. Techiversity is used by our portfolio companies and now available to you.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started</a>
            </div>
        </div>
    </div>
</section>
