<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">It's like Tinder for diversity.</h2>
                <hr class="light">
                <p>For over 45 years, Kleiner Perkins Caulfield and Byers has backed hundreds of entrepreneurs benefiting from white male privilege just like us. We decided it was time to disrupt the tech industry and fund diversity.</p><p>Techiversity is a two-sided platform matching tech companies in need of diversity with freelancers from underrepresented backgrounds. No pressure to hire since you already promised that job to your old fraternity roommate.</p><p>On-demand, crowdsourced solutions delivered from the cloud to your office in less than 2 hours. Techiversity is used by our portfolio companies and now available to you.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started</a>
            </div>
        </div>
    </div>
</section>
